@charset "UTF-8";

body{
    background-color: rgb(219, 247, 177);
    font-family: Arial, Helvetica, sans-serif;
}
/* em HTML é id = em CSS é #
   em HTML é class = em CSS é .
*/

h1{
    color: rgb(1, 99, 1);
}

h1#principal{
    text-align: center;
    background-color: rgb(1, 99, 1);
    color: white;
}


h2{
    color: rgb(1, 44, 1);

}

.basico{
    color: green;
}
.intermediario{
    color: goldenrod;
}
.avançado{
    color: red;
}
.destaque{
    background-color: rgba(228, 243, 20, 0.575);
}