@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


:root{
    --fonte1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte2: 'Caveat', cursive;
    --fonte3: 'Dela Gothic One', cursive;
}

*{
    margin: 0px;
    font-size: 1em;
}


html, body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    font-size: 6vw;
    font-family: var(--fonte3);
    padding-top: 50px;
    font-variant: small-caps;
}
header>p{
    font-family: var(--fonte1);
    padding-bottom: 50px;
}
a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
    
}
section{
    font-size: 3vw;/*vw= tamanho com base na porcentagem da largura da pagina (Viewport Widht)*/
    font-family: var(--fonte2);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: rgb(230, 230, 230);
    color: black
}
section.imagem{
    background-color: rgb(73, 73, 73);
    color: white;

}
section.imagem>p{
    padding: 15px;
    display: inline-block;
    background-color: rgb(51, 51, 51);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}